

body{
  background-color: #f2f1ef;
  font-family: 'Bai Jamjuree', sans-serif;
  margin: 0;
  color: #161513;
}

/* Header */
.header{
  padding:0 7.9%;
  padding-top: 2.1%;
  padding-bottom: 2.1%;
  display: flex;
  justify-content:space-between;
  align-items: center;
}
/* Navbar */

.menu-group{
  display:flex;
}
.nav-menu{
  display: flex;
}
.nav-menu a{
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color:#161513;
  padding:0 17px; 
} 
.nav-menu a:hover{
  color:red;
  text-decoration: underline #161513;
  text-underline-offset: 0.3em;
}
.nav-btn a{
  text-decoration: none;
  color: #161513;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  border:1px #161513 solid;
  padding: 9px 25px;
  display: flex;
  flex-wrap: wrap;
}
 .nav-btn a:hover{
  background-color: #161513;
  color: #f2f1ef;
  text-decoration: underline;
  transition: 0.5s ease-in-out;
} 
.menu-dropdown {
  position: relative;
  display:none ;
}
.menu-dropdown-btn {
  background-color: #161513;
  color:#f2f1ef;
  width:5.5vh;
  height: 5.5vh;
  border: none;
  cursor: pointer;
}

.menu-dropdown-btn{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

hr{
  width: 15px;
  height: 2px;
  color: none;
  border: none;
  background-color: #f2f1ef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3px;
  padding: 0px;
}

.menu-dropdown-content{
  display: none;
  background-color:#dddad5;
  position: absolute;
  min-width: 10vh;
  /* text-align: left; */
}
.menu-dropdown-content a {
  color: black;
  padding: 12px auto;
  text-decoration: none;
  text-align: center;
  display: block;
}
.menu-dropdown-content a:active{
  color: red;
}
.menu-dropdown-content div:hover{
  background-color: #c9c6c0;
}
.menu-dropdown:hover .menu-dropdown-content {
  display: block;
}


/* Hero Container*/
.hero-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: center; */
  padding: 0 8%;
  height: 100%;
}

.hero-left-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 57%;
  height: 70vh;
  align-items: center;
  padding-top: 15vh;
}

.hero-right-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 43%;
  height: 70vh;
  padding-top: 5vh;
}

.hero-img{
  width:100%;
  height: auto;
  /* display: flex;
  flex-direction: column;
  flex: start; */
  justify-content: center;
}

.Hero-Description{
  display: flex;
  flex-direction: column;
  justify-content:center;
  width: 100%;
  height: auto;
  /* padding-right:10%; */
  /* padding-top: 19vh;  */
}
.Hero-Description-hi,.Hero-Description-creative,.Hero-Description-based,.Hero-Description-in,.Hero-Description-london{
    font-size: 56px;
    line-height: 64px;
    font-weight: 700;
    letter-spacing: -0.01em;
    margin: 0;
}
.hero-group{
  display: flex;
  flex-wrap: wrap;
}
.Hero-Description-london{
  text-decoration:line-through;
}
.Hero-Attributes{
  display: flex;
  position: relative;
  bottom:5.4vh;
  flex-wrap: wrap;
}
.Hero-Attributes h5{
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: -0.02em;
  margin: 0;
  }
.Hero-Button{
  display: flex;
  position: relative;
  bottom: 9.8vh;
}
.Hero-Button a{
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
}
.btn1 {
  color:#f2f1ef ;
  background-color: #161513;
  text-decoration: none;
  padding: 12px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn2{
  color: #161513;
  text-decoration: none;
  padding: 10px 32px;
  border: 1px #161513 solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn1:hover,.btn2:hover{
  text-decoration: underline;
}

.banner-container{
  display: flex;
  background-color: #161513;
  margin-top: 10vh;
  /* transform: rotate(357deg); */
  padding-top: 2vh;
  padding-bottom: 2vh;
  animation-name: banner;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
/* @keyframes banner{
  0%{
    translate: 0;
  }
  100%{
    translate:-100%;
  }
} */
.banner-container h4{
  font-size: 18px;
    line-height: 32px;
    font-weight: 700;
    color: #f2f1ef;
}
.about{
  display: flex;
  justify-content: space-between;
  padding-left: 32vh;
  padding-right: 32vh;
  margin-top: 15vh;
}
.about-left-wrapper{
  flex-basis: 50%;
}
.about-right-wrapper{
  flex-basis: 70%;
}
.about-left-name{
  display: flex;
}
/* .about-left-name-taylor{
  font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: -0.02em;
} */
.about-left-designation-text{
  font-size: 56px;
    line-height: 64px;
    font-weight: 700;
    letter-spacing: -0.01em;
    margin: 0;
}
.about-right-bold-text{
  font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: -0.02em;
}
.about-right-small-text{
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
}
.about-right-mention{
  display: flex;
  justify-content: space-between;
}
.about-right-mention h5{
  color: #e94d35;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    margin:0;
}
.about-right-mention h3{
  font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: -0.02em;
    margin:0;
    margin-top:1vh;
}

/* Visuals */
.Mention_Visuals{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
}

.Mention_Visuals-experience, .Mention_Visuals-projects, .Mention_Visuals-clients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vh;
  border: 2px solid #161513;
  padding: 20px;
  width: 304px;
  height: 110px;
}

.Mention_Visuals-projects{
  border-left: none;
  border-right: none;
}

.Mention_Visuals-experience-7, .Mention_Visuals-projects-50, .Mention_Visuals-clients-30{
  font-size: 56px;
  line-height: 64px;
  font-weight: 700;
  letter-spacing: -0.01em;
  margin: 0;
}

.Mention_Visuals-experience-years, .Mention_Visuals-projects-complete, .Mention_Visuals-clients-happy{
  font-size: 16px;
  line-height: 32px;
  font-weight: 700;
  margin: 0;
}

.Mention_Visuals-projects{
  background-color: #161513;
}

.Mention_Visuals-projects-50, .Mention_Visuals-projects-complete{
  color: #f2f1ef;
}

/* Awards */
.awards-header, .service-header,.portfolio-header,.customer-header, .article-header{
  text-align: center;
  margin-top: 15vh;
}
.awards-header h2, .service-header h2,.portfolio-header h2,.customer-header h2, .article-header h2{
  font-size: 48px;
  line-height: 56px;
  font-weight: 700;
  letter-spacing: -0.03em;
  margin: 0;
  margin-top: 2.4vh;
}
.awards-header h3, service-header h3,.portfolio-header h3, .article-header h3{
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: 0.08em;
  margin:0;
  margin-top: 1vh;
}
.awards-grid, .article-grid{
  padding:0 28.5vh;
  margin-top: 10vh;
}
.awards-grid-1,.awards-grid-2,.awards-grid-3,.awards-grid-4,.article-grid-1,.article-grid-2,.article-grid-3,.article-grid-4{
  display: flex;
  border: 2px #161513 solid;
  justify-content: space-between;
  margin:4vh;
  padding: 4vh 5vh ;
}
.awards-grid-left, .article-grid-left{
  display: flex;
  justify-content: space-between;
}
.awards-grid-number{
  background-color: #e94d35;
  color: #f2f1ef;
  width:6vh;
  height: 6vh;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 3.3vh;
}
.awards-grid-card{
  font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: -0.02em;
    margin: 0;
    margin-top: 1vh;
}
.awards-grid-card-sub{
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
  margin: 0;
}
.awards-grid-right{
  display: flex;
  font-size: 16px;
  line-height: 32px;
  font-weight: 600;
}
.awards-grid-field{
  margin-right: 3vh;
}
.awards-grid-1:hover,.awards-grid-2:hover,.awards-grid-3:hover,.awards-grid-4:hover{
  background-color: #161513;
  color: #f2f1ef;
  transition: 0.3s ease-in-out;
}
.portfolio-header{
  text-align: center;
}
.portfolio-grid-1,.portfolio-grid-2,.portfolio-grid-3,.portfolio-grid-4{
  display: flex;
  margin:7vh 0;
}
.portfolio-grid{
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  align-items: center;
}
.portfolio-grid-right,.portfolio-grid-left{
  /* margin-top: 3vh; */
  display: flex;
  flex-direction: column;
  align-items:baseline ;
}
.portfolio-grid-left-img{
  margin-right: 3.5vh;
}
.portfolio-grid-right-img{
  margin-left:3.5vh;
}
.portfolio-grid img{
  height:40vh;
}
.portfolio-grid-heading{
  font-size: 48px;
  line-height: 56px;
  font-weight: 700;
  letter-spacing: -0.03em;
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  margin-top: 1px;
  margin-bottom:4vh;
}
.portfolio-grid-field{
    padding: 6px 12px;
    background-color: #e94d35;
    font-size: 18px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: 0.08em;
    color: #f2f1ef;
    display: inline-block;
}
.portfolio-grid-link{
  color: #161513;
  font-size: 20px;
    line-height: 32px;
    font-weight: 600;
}
.portfolio-grid-link:hover{
  color: #e94d35;
}
/* Services */

.service{
  margin: 10%, 0;
}
.service-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 32vh;
}
.service-header h3{
  margin-bottom: 5vh;
}
.service-grid-sub{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 42%;
  height: 100%;
  border: 2px solid #161513;
  margin: 3vh 0;
  padding: 4vh;
}

.service-grid-sub:hover{
  background-color: #161513;
  color: #f2f1ef;
  transition: 0.3s ease-in-out;
}

.service-grid-sub h2{
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: -0.02em;
  margin: 0;
  margin-top: 1vh;
}

.service-grid-sub p{
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
  margin: 0;
  padding-top: 3vh;
}

/* Customer */
.customer-header h2{
  margin-bottom: 10vh;
}
.customer-grid-sub{
  padding: 40px 32px;
  border:1px #131416 solid;
  display: inline;
  width:25vh;
  margin-bottom: 5vh;
}
.customer-grid-sub img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}
.customer-grid{
  padding: 0 30.5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5vh;
}
.customer-grid-sub:hover{
  background-color: #131416 ;
  color: #f2f1ef;
  transition: 0.3s ease-in-out;
}

.customer-grid-img-black:hover{
  visibility: hidden;
}
/* 
.customer-grid-img-white{
  visibility: visible;
} */

/* Article */

.article-grid{
  display: flex;
  flex-direction: column;
  padding: 0 33vh;
  margin:0;
  margin-top: 5vh;
}
.article-grid-sub{
  margin:2vh 0 ;
  display: flex;
  justify-content:space-around;
  padding:4.1vh;
  /* cursor: ; */
}
.article-grid-left{
  display: flex;
  flex-direction: column;
  /* margin-right: 6vh; */
  /* flex-wrap: wrap; */
  flex-basis: 60%;
}
.article-grid h2{
  color: #161513;
  margin: 0;
  font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: -0.02em;
}
.article-grid-left p{
  color: #e94d35;
  font-size: 16px;
  margin: 0;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: 0.08em;
}
.article-grid-right{
  display: flex;
  flex-basis: 60%;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.article-grid-card-sub{
  justify-content: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.article-btn{
  text-decoration: none;
  color:#f2f1ef;
  background-color: #131416;
  display: flex;
  margin: 5vh 33vh 15vh 33vh;
  justify-content: center;
  padding-top: 2.2vh;
  padding-bottom: 2.2vh;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}
.article-btn:hover{
  text-decoration: underline;
}
.article-side-icon{
  position: absolute;
  width: 29vh;
  right: -100px;
  top:900vh;
}


/* Subscribe */
.subscribe{
  height:25vh;
  background-color: #e6e3de;
  display: flex;
  justify-content: space-between;
  padding: 0 32vh;
  align-items: center;
}
.subscribe-left h3{
  font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: -0.02em;
}
.subscribe-right{
  display: flex;
}
.subscribe-email{
  padding: 16px 24px;
  border:2px #131416 solid;
  background-color: #e6e3de;
  margin-right: 2vh;
  color:#131416;
  font-family: 'Bai Jamjuree',sans-serif;
  width:42vh;
  height: 25px;
}
::placeholder{
  color: #131416;
      font-family: 'Bai Jamjuree',sans-serif;
      font-size: 2.3vh;
      letter-spacing: 1px;
      font-weight: 500;
      opacity: 100%;
}

.subscribe-email:focus{
  border: 2px #e94d35 solid;
  outline: none;
}

.subscribe-email:active{
  border-color: #e94d35;
}
.subscribe-btn{
  font-family: 'Bai Jamjuree', sans-serif;
  height: 60px;
  background-color: #131416;
  color: #e6e3de;
  padding: 10px 24px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  width: 19vh;
}
.subscribe-btn:hover{
  text-decoration: underline;
}

/* Footer */
.footer{
  background-color: #131416;
  padding: 0 32vh;
  align-items: center;
  color: #f2f1ef;
  height:31vh;
}
.footer-upperline{
  display: flex;
  justify-content: space-between;
  padding-top: 9.9vh;
}
 .footer-links{
  flex-basis: 30%;
  display: flex;
  justify-content: space-between;
} 
.footer-links a{
  font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #f2f1ef;
    text-decoration: none;
  
}
.footer-lowerline{
  display: flex;
  justify-content: space-between;
  margin-top: 5vh;
}
.footer-lowerline p{
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}
.footer-social{
  display: flex;
  justify-content: space-between;
  flex-basis: 15%;
}
.footer-social div{
  width: 5vh;
}
.footer-social img{
  border: 1px #c9c6c0 solid;
  border-radius: 50%;
  width:3vh;
  padding: 1vh;
  transition: 0.3s;
  /* margin-right: 2vh; */
}
.footer-social img:hover{
  border: 1px #f2f1ef solid;
  /* position: relative;
  bottom: 2px; */
  padding: 1.3vh;
}